<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resume-template.css">
    <title>Document</title>
  </head>

  <body>

    <div class="container">
      
      <section class="resume-header">
        
        <article class="resume-picture">
          <div class="resume-picture-container">
            <img src="C:\Users\jpauv\OneDrive\Imágenes\foto_jorge_v2-square.jpg" alt="RESUME-OWNER-NAME">
          </div>
        </article>
        
        <article class="resume-name">
          <h1>Jorge Claudio</h1>
          <h1>Pauvels</h1>
          <h2>Programming | Engineering | Projects</h2>
        </article>
        <article class="resume-contact">

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
            <a href="mailto:jpauvels" >jpauvels@hotmail.com</a>
          </div>
          
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-vibrate" viewBox="0 0 16 16">
              <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H6z"/>
              <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208zm12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676zM3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284zm9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z"/>
            </svg>
            <a href="tel:+5411343634296" >+5411343634296</a>
          </div>
          
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <p>Buenos Aires, Argentina</p>
          </div>

        </article>
      </section>
      
      <section class="resume-main">

        <h2 class="section-title" >Work Experience</h2>

        <article class="resume-main-article">
          <div class="left-title" >
            <h3>UVCoding</h3>
            <p class="item-date">August 2018 - Today</p>
          </div>
          <div class="right-title">
            <div>
              <h4 class="item-title">Founder & Full Stack Engineer</h4>
              <p class="item-description" >Full Stack Engineer: MongoDB, ExpressJS, ReactJS NodeJS. Cloud Services administration. Project Management</p>
            </div>
          </div>
        </article>
        
        <article class="resume-main-article">
          <div class="left-title" >
            <h3>Newsan S.A</h3>
            <p class="item-date">July 2004 - Today</p>
          </div>
          <div class="right-title">
            <div>
              <h4 class="item-title">Head of Engineering</h4>
              <p class="item-date">May 2015 - Today</p>
              <p class="item-description">Leader of the technological products development, deployment, and testing team. IT Products development and homologation: Notebooks, Tablet, Mobile Phones, Smartwatches, Readers, and Action-Cams. Development, deployment and management of automation, administration, and testing solutions over MERN stack. Infrastructure and services administration: Docker, Linux Cloud Servers, Windows Servers y NGINX.
            </div>
            <div>
              <h4 class="item-title">Technical Engineering Analyst (IT)</h4>
              <p class="item-date">February 2010 - May 2015</p>
              <p class="item-description">Member of IT product development team, focus on notebooks and manufacturing testing programming. Product testing. Leader of 'Conectar Igualdad' tender project.</p>
            </div>
            <div>
              <h4 class="item-title">Technical Engineering Analyst (Audio)</h4>
              <p class="item-date">July 2004 - February 2010</p>
              <p class="item-description">Member of Audio product development team, focus on high power products.</p>
            </div>
          </div>
        </article>

        <h2 class="section-title" >Education</h2>

        <article class="resume-main-article">
          <div class="left-title" >
            <h3>UNTreF Virtual</h3>
            <p class="item-date">2019 - Today</p>
          </div>
          <div class="right-title">
            <div>
              <h4 class="item-title">Licenciatura Administración y gestión de empresas</h4>
            </div>
          </div>
        </article>

        <article class="resume-main-article">
          <div class="left-title" >
            <h3>ETU No 5</h3>
            <p class="item-date">1998 - 2022</p>
          </div>
          <div class="right-title">
            <h4 class="item-title">Técnico en Electrónica</h4>
            <h4 class="item-title">Bachiller en producción de vienes y servicios</h4>
          </div>
        </article>

        <article class="resume-main-article">
          <div class="left-title" >
            <h3>Coderhouse</h3>
            <p class="item-date">2021 - 2022</p>
          </div>
          <div class="right-title">
            <h4 class="item-title">Backend Programming</h4>
            <p class="item-date">2021</p>
            <h4 class="item-title">ReactJS Programming</h4>
            <p class="item-date">2022</p>
          </div>
        </article>

      </section>
  
      <section class="resume-side">
        <h2 class="section-title" >Summary</h2>
        <p>Dynamic, proactive and responsible leader. High learning capacity, committed and aligned to the company's objectives. Solid experience in research, development and manufacture of new products, excellent experience in coordinating teams.</p>

        <h2 class="section-title" >Programming Languajes</h2>
        <div class="lang-level">
          <p>Javascript</p>
          <progress value="5" max="5" />
        </div>
        <div class="lang-level">
          <p>SQL</p>
          <progress value="3" max="5" />
        </div>
        
        <h2 class="section-title" >Skills</h2>
        <ul>
          <li>Leadership</li>
          <li>Business Strategy</li>
          <li>Coding</li>
          <li>Desingn</li>
        </ul>
        
        <h2 class="section-title" >Interesting</h2>
        <ul>
          <li>Planes and Aviation Industry</li>
          <li>Clean Technology</li>
          <li>Trains</li>
          <li>Environmental Protection</li>
        </ul>
        
        <h2 class="section-title" >Languajes</h2>
        <div class="lang-level">
          <p>Spanish</p>
          <progress value="5" max="5" />
        </div>
        <div class="lang-level">
          <p>English</p>
          <progress value="3" max="5" />
        </div>
        
      </section>
     
    </div>
  </body>
</html>