extends ./layouts/main.layout.pug

block header
  if data
    include ./components/resume-picture.pug
    include ./components/resume-name.pug
    include ./components/resume-contact.pug

block main
  if data
    if data.en.experience
      include ./components/resume-experience.pug
    if data.en.education
      include ./components/resume-education.pug

block side
  if data
    if data.en.sumary
      include ./components/resume-sumary.pug
    if data.en.technologies
      include ./components/resume-technologies.pug
    if data.en.skills
      include ./components/resume-skills.pug
    if data.en.languajes
      include ./components/resume-languajes.pug
    if data.en.interesting
      include ./components/resume-interesting.pug