.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 3fr 3fr 3fr;
  width: var(--a4-w);
  height: var(--a4-h);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.resume-header {
  grid-column-start: 1;
  grid-column-end: 4 ;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #404040;
  border-bottom: solid 2px black;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  height: 100%;
  align-items: center;
  align-self: center;
}
.resume-main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: white;
  padding: 10px;
}
.resume-side {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #F1F1F1;
  padding: 10px;
}