p.item-date #{experience.company.start} - #{experience.company.end} 

//-
  if starts = 0 => you do not render anything
  if starts = mm-yyyy => render Month Year with format mmmm YYYY
  if end = 0 => render 'Today'